<app-loading [isLoading]="loading"></app-loading>

<header class="flex flex-col sm:flex-row items-center justify-between py-4 px-8 bg-gray-800 text-white">
  <h3 class="text-1xl md:text-2xl lg:text-xl xl:text-2xl font-bold mb-2 sm:mb-0">{{ deckName }}</h3>
  <h3 class="text-1xl md:text-2xl lg:text-xl xl:text-2xl font-bold mb-2 sm:mb-0">Nº de Cartas: {{ dataDeck.length }}</h3>
  <button
    class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded text-white font-semibold text-sm sm:text-base lg:text-base xl:text-lg"
    (click)="back()"
  >
    Voltar
  </button>
</header>

<div class="container mx-auto mt-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let data of dataDeck" class=" rounded-lg shadow-md p-4 bg-gray-800">
      <h3 class="text-lg font-bold text-white text-center mb-2">Nome: {{ data.name }}</h3>
      <img src="{{ data.images.small }}" alt="" class="mx-auto mb-2">
      <div class="text-center">
        <h3 class="text-lg font-bold text-white">Detalhes do Pokemon:</h3>
        <p class="text-md font-semibold text-white">Tipo: {{ data.types }}</p>
        <p class="text-md font-semibold text-white">SuperTipo: {{ data.supertype }}</p>
        <p class="text-md font-semibold text-green-500">Hp: {{ data.hp }}</p>
        <p class="text-md font-semibold text-red-500">Ataque: {{data.attacks[0].name }}</p>
      </div>
  </div>
</div>

<div class="my-10 mb-10 text-center">
  <button
  class="px-3 py-1 bg-red-500 hover:bg-red-600 text-white rounded mr-3 sm:w-full md:w-1/3 lg:w-1/4 xl:w-1/5"
  (click)="back()"
  >
    Voltar
  </button>
</div>
